body header {
	grid-area: header;
	height: 5.6rem;
	background-color: #fff;
}

header nav {
	height: 100%;
	padding: 0 3rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

header ul#header-left {
	display: flex;
	align-items: center;
	gap: 3.2rem;
}

header ul#header-left a img[src$="icon_yt_full.svg"] {
	width: 10rem;
}

header ul#header-center form {
	display: flex;
	align-items: center;
	justify-content: center;
}

header ul#header-center form input[type="search"] {
	width: 48rem;
	height: 4rem;

	padding: 1rem;
	font-size: 1.8rem;

	border: 0.1rem solid #ccc;
	border-radius: 2rem 0 0 2rem;
}

header ul#header-center form button {
	width: 5.7rem;
	height: 4rem;

	border: 0.1rem solid #ccc;
	border-radius: 0 2rem 2rem 0;
	background: #f8f8f8;

	display: flex;
	align-items: center;
	justify-content: center;
}

header ul#header-right {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.4rem;
}